.btn {
    display:inline ;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;

    font-family: 'Bagnard';
    overflow: hidden;

    /* Trick to align with the seconday button border  */
    border: 2px solid var(--primary);
}

.btn-primary {
    background-color: var(--primary);
    color: var(--text-alt);
    padding: 1.5rem 2rem;

}

.btn-secondary {
    background-color: var(--secondary);
    color: var(--text);
    padding: 1.5rem 2rem;
    
}




/* ------------- Mobile -------------- */
@media screen and (max-width: 639px) {

    .btn-primary, .btn-secondary {
        min-width: 12.5rem
    }

    .btn p {
        font-size: 1rem;
    }
}

/* ------------- Tablet -------------- */
@media screen and (min-width: 640px) and (max-width: 979px) {
    .btn-primary, .btn-secondary {
        min-width: 12.5rem;
    }

    .btn p {
        font-size: 1rem;
    }
}

/* ------------- Desktop -------------- */
@media screen and (min-width: 980px) {
    .btn-primary, .btn-secondary {
        min-width: 14.375rem;
    }

    .btn p {
        font-size: 1.5rem;
    }

    .btn::after {
        content: '';
        position: absolute;
        bottom: -26rem;
        right: -9rem;
        width: 52rem;
        height: 24rem;
        background-color: var(--secondary);
        mix-blend-mode: exclusion;
        transition: 0.5s ease-out;
        transform: rotate(10deg);
    }

    .btn:hover::after {
        bottom: -15rem;
    }
}
