.btn {
    display:inline ;
    padding: 1.5rem 2rem;
    justify-content: center;
    align-items: center;
    min-width: 14.375rem;
    text-align: center;

    font-family: 'Bagnard';
    font-size: 1.5rem;
    overflow: hidden;
    position: relative;
}

.btn-primary {
    background-color: black;
    color: white;
    /* Trick to align with the seconday button border  */
    border: 2px solid #000;
}

.btn-secondary {
    background-color: white;
    color: black;
    border: 2px solid #000;
}

.difference-box {
    position: absolute;
    right: -16rem;
    bottom: -10rem;
    transform: rotate(10deg);

    width: 32rem;
    height: 16rem;
    background: #FFF;
    mix-blend-mode: exclusion;

    transition: ease-out 450ms;
}

.btn-hover {
    transform: translateY(20rem);
    transition: ease-out 450ms;
}



