/* color palette */
:root {
  --background: #fff;
  --text: #000000;
  --text-alt: #fff;
 
  --primary: #000000;
  --secondary: #fff;
  
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: 'Quattrocento Sans', sans-serif;
}
